@* list Template File *@
@(projectList: List[domain.Project], searchTerm:String, perPage:Int, pageNo:Int)

<div class="row">
   <th>Search text</th>
   <th>Records per page</th>
   <th>Page number</th>
</div> 

<div class="row">

  @helper.form(action=routes.Application.searchProjects()) {
    <input type="search" id="searchbox" name="f" value="@searchTerm" placeholder="Filter by name...">
    <input type="search" id="searchbox" name="pp" value="@perPage" placeholder="Records per page...">
    <input type="search" id="searchbox" name="pn" value="@pageNo" placeholder="Page number...">
    <input type="submit" id="searchsubmit" value="Update display" class="btn btn-primary">
  }

</div> 


      <h2 class="sub-header">Project List</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Description</th>
                </tr>
              </thead>
       <tbody>
    
      @for(item <- projectList) {

        <tr>
          <td>@item.projectCode</td>
          <td>@item.projectDesc</td>
        </tr>  

      } 
       </tbody>
